/* ======== Severity Bar Graph ====== */
.bar-graph-vertical {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding-bottom: 1rem;
  position: relative;
}

.bar-container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80pt;
  background: none;
}

.bar {
  writing-mode: sideways-lr;
  appearance: none;
  width: 100%;
  height: 200px;
  margin-bottom: 0.5rem;
  background: transparent !important;
}
