@media print{

    @page {
        size: A4 portrait;
        margin: 20mm;

        @bottom-right-corner {
            content: counter(page) " / " counter(pages) ;
        }
    }

    @page:first {
        size: A4 portrait;
        margin: 0mm;

        @bottom-right-corner {
            content: ""; 
        }
    }
}

/* ======== Front Matter Page ======== */

.front-page {
    background: url("../images/page-front.png") no-repeat center center;
    background-size: cover;
    height: 100.05vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.overlay-image {
    background: url("../images/logo.png") no-repeat center center;
    scale: 0.8;
    position: absolute;
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    z-index: 1;
}

.frontmatter-section article {
    width: 50%;
    position: absolute;
    top: 60%;
    left: 5%;
}

.frontmatter-section article h1 {
    padding-bottom: 5pt; 
    margin: 0;
    color: #c4a4f5;
}

.frontmatter-section article table {
    width: 55%;
    margin-top: 30pt; 
    display: inline-block;
    color: #c4a4f5;
}

.frontmatter-section article table td {
    padding: 0 7.5pt 11.25pt 0;
    text-align: left;
    font-size: 9pt; 
    border: none;
}

/* ======== Table of Contents Page ======== */

.table-of-contents-section {
    width: 100%;
}

.table-of-contents-section ul {
    list-style: none;
    padding: 0;
    margin: 18.75pt 0;
}

.table-of-contents-section a {
    display: block;
    text-decoration: none;
    color: #333;
    padding-bottom: 3.75pt;
}

/* .table-of-contents-section a::after { 
    content: leader(".") target-counter(attr(href), page) !important;
} */

.table-of-contents-section a:hover {
    background-color: yellow;
    cursor: pointer;
}



/* ======== Document Information Page ======== */

.document-information-section table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.document-information-section table thead tr{
    height: 30pt;
    background-color: #290d32;
}

.document-information-section table thead tr th {
    color: #fff;
    font-weight: 400;
    font-style: light;
}

.document-information-section table tbody tr {
    height: 30pt;
    background-color: #f5f5f5;
}

/* ======== ExecSum Information Page ======== */

.execsum-section table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.execsum-section table thead tr{
    height: 30pt;
    background-color: #290d32;
}

.execsum-section table thead tr th {
    color: #fff;
    font-weight: 400;
    font-style: light;
}

.execsum-section table tbody tr {
    height: 30pt;
    background-color: #f5f5f5;
}

/* ======== TechSum Information Page ======== */

.techsum-section table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.techsum-section table thead tr{
    height: 30pt;
    background-color: #290d32;
}

.techsum-section table thead tr th {
    color: #fff;
    font-weight: 400;
    font-style: light;
}

.techsum-section table tbody tr {
    height: 30pt;
    background-color: #f5f5f5;
}

/* ======== Finding Summary Page ======== */

.findings-section-table table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.findings-section-table table thead tr{
    height: 30pt;
    background-color: #290d32;
}

.findings-section-table table thead tr th {
    color: #fff;
    font-weight: 400;
    font-style: light;
}

.findings-section-table table tbody tr {
    height: 30pt;
    background-color: #f5f5f5;
}

/* ======== Severity Matrix Page ======== */

.severity-section-assessment table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 5pt;
    text-align: center;
    vertical-align: middle;
}

.severity-section-assessment table thead tr th {
    background-color: #290d32;
    height: 67.5pt;
    width: 67.5pt;
    color: white;
    font-weight: 400;
    font-style: light;
    font-size: 11pt;
    border: 1px solid white;
}

.severity-section-assessment table tbody tr th {
    background-color: #290d32;
    height: 67.5pt;
    width: 67.5pt;
    color: white;
    font-weight: 400;
    font-style: light;
    font-size: 11pt;
    border: 1px solid white;
}

.severity-section-assessment table tbody tr td{
    border: 1px solid white;
}

/* ======== Findings Page ======== */

.findings-section table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.findings-section table thead tr{
    height: 30pt;
    background-color: #290d32;
}

.findings-section table thead tr th {
    color: #fff;
    font-weight: 400;
    font-style: light;
}

.findings-section table tbody tr {
    height: 30pt;
    background-color: #f5f5f5;
}

/* ======== Suggestions Page ======== */

.suggestions-section table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.suggestions-section table thead tr{
    height: 30pt;
    background-color: #290d32;
}

.suggestions-section table thead tr th {
    color: #fff;
    font-weight: 400;
    font-style: light;
}

.suggestions-section table tbody tr {
    height: 30pt;
    background-color: #f5f5f5;
}

/* ======== Global Crap ======== */

*{
    margin: 0;
    padding: 0;  
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-style: light;
    font-size: 11pt;
    line-height: 1.4;
}

/* Text Styles*/
body {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Exo 2", serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

h1, h2, h3 { margin: 12pt 0; }

h1 { font-size: 24pt; }
h2 { font-size: 18pt; }
h3 { font-size: 14.04pt; }
h4 { font-size: 11pt; }
h5 { font-size: 9.96pt; }
h6 { font-size: 8.04pt; }

p{ 
    margin: 12pt 0; 
    color: #313131; 
}

i { }
mark { padding: 1.5pt; }

strong { 
    font-weight: bold; 
    color: black;
}

a[href^="#"] {
    padding-right: 15pt;
    text-decoration: none;
}

a[href^="#"]::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 8pt;
    height: 8pt;
    margin-left: 3pt;
    background-size: 100%;
    background-image: url("../images/internal-link.png");
}

a[href^="http"] {
    padding-right: 15pt;
    text-decoration: none;
}
  
a[href^="http"]::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 8pt;
    height: 8pt;
    margin-left: 3pt;
    background-size: 100%;
    background-image: url("../images/external-link.png");
}

qa { 
    background-color: fuchsia;
    padding: 1.5pt;
    color: black;
}

/* Unordered and Ordered List Styles */
ul, ol {
    padding-left: 15pt;
    margin: 12pt 0;
}

ul { list-style-type: disc; }
ol { list-style-type: decimal; }

ul li, ol li {
    margin: 3.75pt 0;
    color: #252525;
}

ul li ul {
    margin: 0;
}

li::marker{
    color: black;
}

/* Code Blocks Styles */
code {
    font-family: "Courier New", monospace;
    color: rgb(201, 20, 201);
    font-size: 11pt;
}

pre {
    border-radius: 4.5pt;
    margin: 12pt 0 !important;
}

/* Image Styles */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

figcaption {
}
/* Table Styles */
.finding-name { text-align: left;}

.finding-status-Unresolved { font-weight: bold; color: #ff0000;}
.finding-status-Resolved { font-weight: bold; color: #00a336;}

.finding-severity-Low { background-color: #a5d63a; }
.finding-severity-Medium { background-color: #f2fa0c; }
.finding-severity-High { background-color: #faae0a; }
.finding-severity-Critical { background-color: #ff4a4a; }

/* Blockquote Styles */
blockquote {
    color: #555;
    border-left: 4pt solid #777;
    padding: 18.75pt;
    margin: 12pt 0;
}

/* Retesting */
retest_fixed {
    background-color: #d8ebfd;
    color: #33607a;
    border-left: solid #5a9ed5 3pt;
    border-radius: 3pt;
    padding: 0.7em;
    margin: 12pt 0;
    display: block;
}

retest_not_fixed {
    background-color: #E9D8FD;
    color: #69337A;
    border-left: solid #805AD5 3pt;
    border-radius: 3pt;
    padding: 0.7em;
    margin: 12pt 0;
    display: block;
}

.token.important{
    font-weight: 300 !important;
}


.page-break{
    page-break-after: always;
}

.AE3CEE3B46BEBFFE161D55F7AF5F97F1::before {
  content: "DRAFT";
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 10rem;
  color: rgba(0, 0, 0, 0.05);
  z-index: 9999;
  pointer-events: none;
  white-space: nowrap;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
